.container{
    margin: 0px;
    max-width: 1260px;
    .table{
        box-sizing: border-box;
        th {
            border: 1px solid #ddd;
            background-color: #04AA6D;
            color: white;
            max-width: 110px;
                white-space: pre-line;
                word-wrap: break-word;
                
        }
        tr {
            box-sizing: border-box;
            &:nth-child(even) {
              background-color: #fff;
            }
            &:hover {
              background-color: #ddd;
            }
          }
        td{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
                max-width: 100px;
                white-space: pre-line;
                word-wrap: break-word;
                box-sizing: border-box;
              align-items: center;
              font-size: 14px;
        }
        .fa-edit{
            font-size: 40px;
            color: orange;
        }
        .fa-trash-alt{
            font-size: 40px;
            color: red;
        }
        .check{
            text-align: center;  
            .btn{
                display: inline-block;
                font-size: 13px;
                font-weight: bold;
                color: #fff;
                background-color: #f44336;
                border: none;
                border-radius: 15px;
                cursor: pointer;
                transition: background-color 0.3s ease;
                
                &:hover{
                    background-color: green;
                }
            }                        
        }
    }
}